@model FantasyDB.Models.PriceExample

@{
    ViewData["Title"] = "Create PriceExamples";
}

<h2>Create PriceExamples</h2>

<form asp-action="Create">
    <input type="hidden" asp-for="Id" />
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>