@model FantasyDB.Models.CharacterRelationship

@{
    ViewData["Title"] = "Edit CharacterRelationship";
}

<h2>Edit CharacterRelationship</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>