@model FantasyDB.Models.Location

<h2>Location Details</h2>

<table class="table">
    <tr><th>Id</th><td>@Model.Id</td></tr>
</table>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>