@model FantasyDB.Models.Artifact

@{
    ViewData["Title"] = "Create Artifact";
}

<h2>Create Artifact</h2>

<form asp-action="Create">
    <input type="hidden" asp-for="Id" />
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>