@model IEnumerable<FantasyDB.ViewModels.ArtifactViewModel>

<h2>Artifact List</h2>

@await Html.PartialAsync("_EntityTable", Model.Cast<object>())

<!-- Responsive Table with Scroll -->
<div class="table-responsive">
    <table class="table table-bordered table-striped text-nowrap" id="characterTable">
    </table>
</div>