@model FantasyDB.Models.River

@{
    ViewData["Title"] = "Edit River";
}

<h2>Edit River</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>